/* Logo en Header */
.logoHeader{
    margin: 0px !important;
    height: calc(100%);
}
/* Oculto segun ancho de pantalla */
.noVisible900{
    @media screen and (max-width: 900px){
        display: none !important;
    }
    
}
.noVisible700{
    @media screen and (max-width: 700px){
        display: none !important;
    }
    
}
.noVisible500{
    @media screen and (max-width: 500px){
        display: none !important;
    }
    
}