<!-- ------ PIE DE PAGINA FIJO --------------------- 
(no anda slot="end" -->
<ion-footer>
    <ion-button (click)="irPagina( '/inicio' )" fill="clear" shape="round" color="primary">
        <ion-icon slot="start" name="home-outline"></ion-icon>
    </ion-button>
  
    <ion-button (click)="irPagina( '/consultanos' )" fill="clear" shape="round" color="primary">
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
    </ion-button>
  
    <!-- todavia no andan da error -->
<!--     <ion-button (click)="ScrollStart()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
    </ion-button>
  
    <ion-button (click)="ScrollEnd()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="scrollToLabel('labelInicio')" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
    </ion-button> -->    
  </ion-footer>