<app-header color="light" tituloPagina="Cupón"></app-header>

<ion-content padding fullscreen>

    <form (ngSubmit)="guardar( formulario )" #formulario="ngForm">
        <!------------ Grilla ------------>
        <ion-grid fixed>

            <!-- ------ Columna 1 --------- -->
            <ion-row>
                <ion-col size="12" size-md="12" size-sm="12" size-xs="12">

                    <!-- ------------------Encabezado del registro ---------------- -->
                    <ion-card color="light">
                        <ion-item color="medium">
                            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
                            <ion-label>{{ configuracion.nombreConfig }}</ion-label>

                            <ion-button (click)="configuracionMore( $event )" expand="block" slot="end">
                                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                            </ion-button>

                        </ion-item>

                        <ion-card-content>
                            Consulta sobre una configuración del CRM, debe haber solo una con estado Vigente.
                        </ion-card-content>
                    </ion-card>

                    <!-- ------------------Formulario de modificacion del registro ---------------- -->
                    <ion-card>
                        <!-- SFAD{{ producto.descripCortaProd}} {{ producto.cotizadorTipo}} -->
                        <ion-list>

                            <ion-item color="light">
                                <ion-label position="floating">* NOMBRE DE LA CONFIGURACION</ion-label>
                                <ion-input color="secondary" type="text" name="nombreConfig" [(ngModel)]="configuracion.nombreConfig" required></ion-input>
                            </ion-item>

                            <ion-item  color="light">
                              <ion-label position="stacked">* ENVIA EMAIL A COMPAÑIAS?</ion-label>
                              <ion-select interface="popover" placeholder="Indique uno" name="enviaEmailsCompaniasConfig" [(ngModel)]="configuracion.enviaEmailsCompaniasConfig" required>
                                  <ion-select-option color="secondary" value="Si">Si</ion-select-option>
                                  <ion-select-option color="secondary" value="No">No</ion-select-option>
                              </ion-select>
                            </ion-item> 
                            
                            <ion-item  color="light">
                              <ion-label position="stacked">* ENVIA EMAIL A AREAS INTERNAS?</ion-label>
                              <ion-select color="secondary" interface="popover" placeholder="Indique uno" name="enviaEmailsAreasConfig" [(ngModel)]="configuracion.enviaEmailsAreasConfig" required>
                                  <ion-select-option value="Si">Si</ion-select-option>
                                  <ion-select-option value="No">No</ion-select-option>
                              </ion-select>
                            </ion-item>                            

                            <ion-item color="light">
                                <ion-label position="floating">EMAILS AREA RECEPCION</ion-label>
                                <ion-input color="secondary" type="text" name="emailsAreaRecepcionConfig" [(ngModel)]="configuracion.emailsAreaRecepcionConfig"></ion-input>
                            </ion-item>

                            <ion-item color="light">
                              <ion-label position="floating">EMAILS AREA PRODUCCION</ion-label>
                              <ion-input color="secondary" type="text" name="emailsAreaProduccionConfig" [(ngModel)]="configuracion.emailsAreaProduccionConfig"></ion-input>
                            </ion-item>

                            <ion-item color="light">
                              <ion-label position="floating">EMAILS AREA COBRANZA</ion-label>
                              <ion-input color="secondary" type="text" name="emailsAreaCobranzaConfig" [(ngModel)]="configuracion.emailsAreaCobranzaConfig"></ion-input>
                            </ion-item>

                            <ion-item color="light">
                                <ion-label position="floating">EMAILS AREA CLUB</ion-label>
                                <ion-input color="secondary" type="text" name="emailsAreaClubConfig" [(ngModel)]="configuracion.emailsAreaClubConfig"></ion-input>
                            </ion-item>

                            <ion-item  color="light">
                                <ion-label position="stacked">* ENVIA EMAIL DE PRUEBAS?</ion-label>
                                <ion-select interface="popover" placeholder="Indique uno" name="enviaEmailsPruebasConfig" [(ngModel)]="configuracion.enviaEmailsPruebasConfig" required>
                                    <ion-select-option value="Si">Si</ion-select-option>
                                    <ion-select-option value="No">No</ion-select-option>
                                </ion-select>
                            </ion-item>

                            <ion-item color="light">
                              <ion-label position="floating">EMAILS PARA PRUEBAS</ion-label>
                              <ion-input color="secondary" type="text" name="emailsPruebasConfig" [(ngModel)]="configuracion.emailsPruebasConfig"></ion-input>
                            </ion-item>

                            <ion-item-divider>
                              <ion-label>

                              </ion-label>
                            </ion-item-divider>

                            <ion-item  color="light">
                              <ion-label position="stacked">* ESTADO DE ESTA CONFIGURACION</ion-label>
                              <ion-select interface="popover" placeholder="Indique uno" name="estadoConfig" [(ngModel)]="configuracion.estadoConfig" required>
                                  <ion-select-option value="Vigente">Vigente</ion-select-option>
                                  <ion-select-option value="No vigente">No vigente</ion-select-option>
                              </ion-select>
                            </ion-item>                            

                            <ion-item color="light">
                                <ion-label position="floating">Notas internas</ion-label>
                                <ion-input color="secondary" type="text" name="notasInternasConfig" [(ngModel)]="configuracion.notasInternasConfig"></ion-input>
                            </ion-item>
                            
                            <!-- ver si uso type string o text, falta texto largo y numero para orden -->

                        </ion-list>

                        <ion-button color="secondary" type="submit" expand="full" [disabled]="formulario.invalid">
                            Guardar
                        </ion-button>


                        <!-- Mensaje validando formulario  -->

                        <ion-note *ngIf="formulario.valid" color="success">&nbsp; Datos validos, recuerde guardar cambios.<br></ion-note>
                        <ion-note *ngIf="!formulario.valid" color="danger">&nbsp; Datos incompletos o no validos, revise.<br></ion-note>


                        <!-- Notas finales del formulario  -->
                        <ion-card-content>
                            <h6>
                                Tips:
                            </h6>
                            <h6>
                                (*) Datos obligatorios.
                            </h6>

                        </ion-card-content>

                    </ion-card>

                </ion-col>
            </ion-row>

        </ion-grid>

    </form>


    <!------------ PIE DE PAGINA NO FIJO  ------------------------------------>
    <app-footer2></app-footer2>   
        
</ion-content>

<!-- ------ PIE DE PAGINA FIJO ---------------------  -->
<!-- no andan botones end y top --> 
<app-footer></app-footer>
