/* sin borde */
.sinBorde{
    box-shadow: none !important;
    text-align: center;
}
.cardBarraNosotros{
    width: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    --background: none;
    background-color: transparent !important;
    background-image: url("../../../assets/imagenes/barraNosotros.png") !important;
    background-position: center !important;
    background-repeat: repeat-x !important;   //ver las otras barras
    color: transparent !important;      
}
.cardBarraNosotros2{
    width: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    --background: none;
    background-color: transparent !important;
    background-image: url("../../../assets/imagenes/barraNosotros2.png") !important;
    background-position: center !important;
    background-repeat: repeat-x !important;   //ver las otras barras
    color: transparent !important;      
}