<app-header tituloPagina="Coberturaprod"></app-header>

<ion-content padding fullscreen>

    <form (ngSubmit)="guardar( formulario )" #formulario="ngForm">
        <!------------ Grilla ------------>
        <ion-grid fixed>

            <!-- ------ Columna 1 --------- -->
            <ion-row>
                <ion-col size="12" size-md="12" size-sm="12" size-xs="12">

                    <!-- ------------------Encabezado del registro ---------------- -->
                    <ion-card>
                        <ion-item color="medium">
                            <ion-icon name="people-circle-outline" slot="start"></ion-icon>
                            <ion-label>{{ coberturaprod.nombreInternoCobP }}</ion-label>

                            <ion-button (click)="coberturaprodMore( $event )" expand="block" slot="end">
                                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                            </ion-button>

                        </ion-item>

                        <ion-card-content>
                            El Coberturaprod es utiliza en el Sitio Web Público, realice los cambios en la siguiente sección.
                        </ion-card-content>
                    </ion-card>

                    <!-- ------------------Formulario de modificacion del registro ---------------- -->
                    <ion-card>
                        <!-- SFAD{{ coberturaprod.descripCortaProd}} {{ coberturaprod.cotizadorTipo}} -->
                        <ion-list>

                            <ion-item>
                                <ion-label position="floating">* NOMBRE INTERNO DE LA COBERTURA</ion-label>
                                <ion-input type="text" name="nombreInternoCobP" [(ngModel)]="coberturaprod.nombreInternoCobP" required></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">Id Producto</ion-label>
                              <ion-input type="text" name="idProductoCobP" [(ngModel)]="coberturaprod.idProductoCobP"></ion-input>
                            </ion-item>
                          
                            <ion-item-divider>
                              <ion-label>

                              </ion-label>
                          </ion-item-divider>

                          <ion-item-divider>
                              <ion-label>
                                  <strong>
                                      EN EL SITIO WEB
                                  </strong>
                              </ion-label>
                          </ion-item-divider>  

                            <ion-item>
                                <ion-label position="floating">Título</ion-label>
                                <ion-input type="text" name="tituloCobP" [(ngModel)]="coberturaprod.tituloCobP"></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">Detalle</ion-label>
                              <ion-textarea rows="10" cols="20" name="detalleCobP" [(ngModel)]="coberturaprod.detalleCobP"
                                  placeholder="Ingrese el texto...">
                              </ion-textarea>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Orden</ion-label>
                                <ion-input type="text" name="ordenCobP" [(ngModel)]="coberturaprod.ordenCobP"></ion-input>
                            </ion-item>

                            <ion-item-divider>
                                <ion-label>

                                </ion-label>
                            </ion-item-divider>

                            <ion-item-divider>
                                <ion-label>
                                    <strong>
                                        OTRAS INFORMACIONES
                                    </strong>
                                </ion-label>
                            </ion-item-divider>  


                            <ion-item>
                              <ion-label position="floating">NOTAS INTERNAS</ion-label>
                              <ion-textarea rows="5" cols="20" name="notasInternasCobP" [(ngModel)]="coberturaprod.notasInternasCobP"
                                  placeholder="Ingrese otras informaciones adicionales...">
                              </ion-textarea>
                            </ion-item>


<!--                             <ion-item>
                                <ion-label position="stacked">Género</ion-label>
                                <ion-select placeholder="Indique uno">
                                    <ion-select-option value="f">Mujer</ion-select-option>
                                    <ion-select-option value="m">Hombre</ion-select-option>
                                </ion-select>
                            </ion-item> -->

                        </ion-list>

                        <ion-button type="submit" expand="full" [disabled]="formulario.invalid">
                            Guardar
                        </ion-button>


                        <!-- Mensaje validando formulario  -->

                        <ion-note *ngIf="formulario.valid" color="success">&nbsp; Datos validos, recuerde guardar cambios.<br></ion-note>
                        <ion-note *ngIf="!formulario.valid" color="danger">&nbsp; Datos incompletos o no validos, revise.<br></ion-note>


                        <!-- Notas finales del formulario  -->
                        <ion-card-content>
                            <h6>
                                Tips:
                            </h6>
                            <h6>
                                (*) Datos obligatorios.
                            </h6>
                        </ion-card-content>

                    </ion-card>

                    <!-- ----------------------Relacionados---------------- -->
                    <ion-card>
                        <ion-list>
                            <ion-item color="medium">
                                <ion-label>Entidades relacionadas a éste registro</ion-label>
                            </ion-item>

                            <ion-item [routerLink]="['/cobproddetalles', coberturaprod.idCoberturaprod]" detail>
                                <ion-label>Detalle de Coberturas</ion-label>
                            </ion-item>
                            
                        </ion-list>

                        <ion-card-content>
                            Recuerde guardar primero éste registro y volver a ingresar.
                        </ion-card-content>
                    </ion-card>                     

                </ion-col>
            </ion-row>

        </ion-grid>

    </form>

    <!------------ PIE DE PAGINA NO FIJO  ------------------------------------>
    <app-footer2></app-footer2>   
        
</ion-content>

<!-- ------ PIE DE PAGINA FIJO ---------------------  -->
<!-- no andan botones end y top --> 
<app-footer></app-footer>