/* sin borde */
.sinBorde{
    box-shadow: none !important;
    text-align: center;
}
/* Logo en Header */
.sinMargen{
    margin: 0px !important;
}
/* Fuente Orue&Godoy*/
.fuenteOrue{
    font-family: 'PT Serif', serif !important;
    color: #4B3787 !important;
}