.cardFondoBlog{
    width: 100% !important;
    margin: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    --background: none;
    background-color: #FFFFFF !important;
    background-image: url("../../../assets/imagenes/fondoBlog.png") !important;
    background-position: center !important;
    background-repeat: repeat !important;   
    color: transparent !important;   
}