
<!-- ------------Boton fijo al medio a la derecha-------- -->
<ion-fab class="posicionFija" vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
        <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button> 

    <!-- botones de para arriba -->
    <ion-fab-list side="top">  

        <ion-fab-button>
            <a href="https://wa.me/5493525640546/?text=Hola%20quisiera%20recibir%20asesoramiento%20sobre%20marketing.%20Muchas%20gracias." 
                target="_blank" style="text-decoration:none">
                <i class="fab fa-whatsapp"></i>
            </a>
        </ion-fab-button>  

        <ion-fab-button>
            <a href="https://www.facebook.com/Marwek" target="_blank" style="text-decoration:none">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
        </ion-fab-button>       

        <ion-fab-button>
            <a href="https://www.instagram.com/marwek/" target="_blank" style="text-decoration:none">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
        </ion-fab-button>          

    </ion-fab-list>
</ion-fab> 


<!-- ------------Boton fijo abajo a la derecha-------- -->
<ion-fab class="posicionFija" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button> 

    <!-- botones de para arriba -->
    <ion-fab-list side="top">  

        <!--    <ion-fab-button routerLink="/ivacompras">
            <ion-icon name="call-outline"></ion-icon>
        </ion-fab-button> -->

        <ion-fab-button>
            <a href="tel:+54-03525-15640546" target="_blank" style="text-decoration:none">
                <ion-icon name="call-outline"></ion-icon>
            </a>
        </ion-fab-button>            

        <ion-fab-button>
            <a href="mailto:consultas@marwek.com" target="_blank" style="text-decoration:none">
                <i class="far fa-envelope"></i>
            </a>
        </ion-fab-button>
        
        <ion-fab-button>
            <a href="https://goo.gl/maps/MDcmtpSz9aiRSnF88" 
                target="_blank" style="text-decoration:none">
                <i class="fas fa-map-marker-alt"></i>
            </a>
        </ion-fab-button>  

    </ion-fab-list>

</ion-fab> 

